.section {
    width: 100%;
    color: gray;
    font-family: sans-serif;
    font-size: 150%;
}
.slide-container {

}
.slide-container img {
    max-width: 50%;
    max-height: 50%;
}
.lampImages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.lampImages img {
    max-width: 45%;
    max-height: 100%;

    filter: brightness(80%);
    border-radius: 20px;
    box-shadow: black 3px 3px 15px 3px;
}
#article {
    padding: 2% 5% 2% 5%;
}
form {
    display: flex;
    flex-wrap: wrap;

    width: 90%;
    margin: 0 auto;
    padding: 2%;

    font-size: 80%;
    border-radius: 15px;
    background: #4e4949;
    color: white;
    text-align: center;
}

.formParts {
    display: flex;
    flex-flow: column;
    width: 20%;
}
#contactInfo {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.contactWidget {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    height: 100px;
    padding: 2%;
    margin: 5% 0 5% 0;
    font-size: 80%;
    background: darkgoldenrod;
    border-radius: 10px;
    color: black;
}
.contactWidget:hover {
    filter: brightness(120%);
}
.icon {
    font-size: 200%;
}
.iconSocial {
    font-size: 150%;
    position: relative;
    top: 25%;
}
.stripe {
    width: 80%;
    height: 2px;
    background: black;
}
